<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanban</h1>
      </div>
    </div>
  </div>

  <div class="bord">
    <div class="bord__bar">
      <p class="bord__bar--name">Board Name</p>
    </div>

    <div class="bord__wrapper">
      <div class="bord__wrapper--columns" cdkDropListGroup>
        <div
          class="bord__wrapper--columns-column"
          *ngFor="let column of board.columns"
        >
          <div class="bord__wrapper--columns-column-title">
            {{ column.name }}
          </div>

          <div
            class="tasks__container"
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="tasks__container--task"
              *ngFor="let task of column.tasks"
              cdkDrag
            >
              {{ task }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
